*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0%;
}

body{
    background-color: aqua;
    text-decoration: none;
}

#header{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #c080ff;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bn-title{
    background-color: #c080ff;
    border: none;
    padding: 2px;
    width: auto;
    height: auto;
}

.img-title{
    width: 70px;
    height: auto;
}


@media (max-width:990px){
    body{
        background-color: #333;
    }
    
    #header{
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        background-color: #c080ff;
    }
    
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title h1{
        font-size: 25px;
    }
    
    .bn-title{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c080ff;
        border: none;
        width: auto;
        height: auto;
    }
    
    .img-title{
        width: 50px;
        height: auto;
    }

    .menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: auto;
        height: auto;
        transition: 0.5s;
    }

    .menu h2{
        font-size: 16px;
    }

    .bn-menu{
        background-color: #c080ff;
        width: auto;
        height: auto;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color:black;
        margin: 4px;
    }

    .intro{
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
        color: white;
        width: auto;
        height: 64vh;
        background-image: url(../img/inicio/portada.jpg), linear-gradient(to right top, #33333368, #33333368, #33333368, #33333368, #33333368);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
    }

    .intro-content{
        margin: 14px;
        padding-right: 90px;
    }

    .intro-content h1{
        color: #c080ff;
        font-size: 33px;
    }

    .intro-content p{
        font-size: 15px;
        padding: 5px;
        margin: 3px;
        margin-right: 15px;
    }

    .slider{
        width: 100%;
        height: 60vh;
        display: flex;
        position: relative;
        overflow: scroll;
        scroll-snap-type: x mandatory;
    }

    .slider img{
        width: 100%;
        left: 0px;
        position: sticky;
        object-fit: cover;
        border-radius: 5px;
        scroll-snap-align: center;
    }

    .cards-i{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #333;
        margin: 20px;
    }

    .card-i{
        background-color: #222222;
        padding: 20px;
        height: auto;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
        border-radius: 10px;
        margin: 14px;
    }

    .bn-calendar{
        margin: 10px;
        border-radius: 10px;
        background-color: #c080ff;
        color: black;
        padding: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    }

    .bn-calendar h1{
        font-size: 23px;
    }

    .galery{
        width: 100%;
        background-color: #c080ff;
    }

    .fotos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .foto1{ 
        background-image: url(../img/inicio/galery/foto1.jpg), linear-gradient(to right top, #33333368, #33333368, #33333368, #33333368, #33333368);background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 50%;
        height: 30vh;
    }

    .foto2{ 
        background-image: url(../img/inicio/galery/foto2.jpg), linear-gradient(to right top, #33333368, #33333368, #33333368, #33333368, #33333368);background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 50%;
        height: 30vh;
    }

    .foto3{ 
        background-image: url(../img/inicio/galery/foto3.jpg), linear-gradient(to right top, #33333368, #33333368, #33333368, #33333368, #33333368);background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 50%;
        height: 30vh;
    }

    .foto4{ 
        background-image: url(../img/inicio/galery/foto4.jpg), linear-gradient(to right top, #33333368, #33333368, #33333368, #33333368, #33333368);background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 50%;
        height: 30vh;
    }

    .foto5{ 
        background-image: url(../img/inicio/galery/foto5.jpg), linear-gradient(to right top, #33333368, #33333368, #33333368, #33333368, #33333368);background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 50%;
        height: 30vh;
    }

    .foto6{ 
        background-image: url(../img/inicio/galery/foto6.jpg), linear-gradient(to right top, #33333368, #33333368, #33333368, #33333368, #33333368);background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 50%;
        height: 30vh;
    }

    .foto{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .foto-bn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .bn-foto{
        top: -14vh;
        position: relative;
        border-radius: 10px;
        background-color: #c080ff;
        color: black;
        padding: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    }

    .pie-web{
        width: 100%;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pie-web h1{
        position: relative;
        top: -25px;
    }

    .img-pie{
        position: relative;
        top: -25px;
        width: 40px;
        height: auto;
    }

    .cards {
        margin: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #333;
    }
    
    .cards .red {
        background-image: url(../img/inicio/carrusel2.jpg);background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .cards .blue {
        background-color: #3b82f6;
    }
    
    .cards .green {
        background-color: #22c55e;
    }
    
    .cards .card {
        padding: 20px;
        margin: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 14vh;
        width: 75%;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        transition: 400ms;
    }
    
    .cards .card h1.tip {
        font-size: 1em;
        font-weight: 700;
    }
    
    .cards .card p.second-text {
        font-size: .7em;
    }
    
    .cards .card:hover {
        transform: scale(1.1, 1.1);
    }
    
    .cards:hover > .card:not(:hover) {
        filter: blur(10px);
        transform: scale(0.9, 0.9);
    }

    .bn-cards{
        width: auto;
        height: auto;
        background-color: #c080ff;
        color: black;
        padding: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
        margin: 10px;
        border-radius: 6px;
    }

    .citas{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
        height: 100%;align-items: center;
        justify-content: center;
    }

    .card-fotos {
        margin: 3%;
        width: 40%;
        height: 30vh;
        border-radius: 15px;
        background: #212121;
    }

    .h1{
        margin: 5%;
        font-size: 35px;
        color:  #c080ff;
    }

    #foto-galery{
        width: 100%;
        height: 30vh;
        border-radius: 15px;
    }
}